{% extends "base.html" %}

{% load i18n django_bootstrap5 %}

{% block content %}
        
    <form method="post" class="form">
        {% csrf_token %}
        <h1 class="my-4">{% translate 'Deleting a task' %}</h1>
              
        <p>{% translate 'Are you sure you want to delete' %} {{ task.name }}?</p>
        {% bootstrap_form form %}   
        <button type="submit" class="btn btn-danger">{% translate 'Yes, delete it!' %}</button>
        <a href="{% url 'task_list' %}">{% translate 'Сancellation' %}</a>
    </form>

{% endblock %}